{{ attach_library('drupal9_theme/card-collection')}}

<section class="card-collection
  {{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% include '@drupal9_theme/heading/heading.twig' %}

  <ul class="card-collection__items">
    {% for item in items %}
      <li class="card-collection__item">
        {% include '@drupal9_theme/card/card.twig' with {
            "image": item.image,
            "date": item.date,
            "heading": item.card_title,
            "body": item.body,
            "cta": item.cta,
          } only
        %}
      </li>
    {% endfor %}
  </ul>
</section>
